body{
  padding: 0;
  margin: 0;
  background: #6cbbac;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
}
a{
  text-decoration: none;
  color: teal;
}
.page{
  background: #efefef;
}
header{
  text-align: center;
  padding: 15px 0;
}
header .menu{
  display: flex;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  justify-content: center;
}
header .menu > *{
  padding: 5px 15px;
  font-weight: 700;
}
footer{
  background: #6cbbac;
  color: #1f5148;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}
.container{
  padding: 0 20px 20px;
}

.pokemons{}
.pokemons .list{
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 2px 5px 10px -10px #666;
}
.pokemons .list .link{
  cursor: pointer;
  display: block;
  padding: 15px;
}
.pokemons .list .link:hover{
  color: teal;
}

.pokemons-detail{
  text-align: center;
}
.pokemons-detail .foto{}
.pokemons-detail .nama{
  font-size: 30px;
  font-weight: 300;
  text-transform: capitalize;
}